@model List<Currency>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table">
        <thead>
        <th>Döviz</th>
        <th>Kodu</th>
        <th>Birim</th>
        <th>Alış</th>
        <th>Satış</th>
        </thead>
        <tbody>
        @foreach (var curr in Model)
        {
            <tr>
                <td>@curr.CurrencyName</td>
                <td>@curr.Kod</td>
                <td>@curr.Unit</td>
                <td>@(string.IsNullOrEmpty(curr.BanknoteBuying) ? "Fiyat Bilgisi Yok" : curr.BanknoteBuying + " TL")</td>
                <td>@(string.IsNullOrEmpty(curr.BanknoteSelling) ? "Fiyat Bilgisi Yok" : curr.BanknoteSelling + " TL")</td>
            </tr>
        }


        </tbody>


    </table>

</div>